<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.250070852575-arvq4a7epipk2fp3f0shb7cqvsn8hkfv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cc.seaotter.pos</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>S3_STORAGE_ACCESS_KEY</key>
	<string>$(S3_STORAGE_ACCESS_KEY)</string>
	<key>S3_STORAGE_ENDPOINT</key>
	<string>$(S3_STORAGE_ENDPOINT)</string>
	<key>S3_STORAGE_SECRET_KEY</key>
	<string>$(S3_STORAGE_SECRET_KEY)</string>
</dict>
</plist>
